/*Used some of Joe's CSS to save time :)*/

body {
  font-family: Arial;
  font-size: 20px;
  line-height: 1.5;
  cursor: default;
}

#welcome {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  background-color: salmon;
  border: 4px solid black;
  border-radius: 5px;
  margin-top: 50px;
}


.button {
  font-family: sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  background: salmon;
  color: black;
  display: block;
  text-align: center;
  padding: 12px;
  box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
  border-radius: 5px;
  margin-top: 150px;
}

#page-header {
  background: black;
  color: white;
  overflow: hidden;
  border-bottom: 4px solid salmon;
  padding: 0 3%;
}
#page-header a {
  color: inherit;
  text-decoration: none;
}
#page-header h1 {
  float: left;
  color: salmon;
  font-family: 'Merriweather', serif;
  font-size: 1.5em;
  margin: 20px 0 0 0;
}
#page-header nav {
  float: right;
}
#page-header nav li {
  float: left;
}
#page-header nav a {
  display: block;
  padding: 10px 15px;
  margin-right: 20px;
}
#page-header nav li a:hover {
  color: salmon;
}
#page-header nav li.active a {
  background: #666;
}

.addToDoLink {
  text-decoration: none;
  color: black;
  font-weight: 900;
  background-color: salmon;
  border: 4px solid black;
  border-radius: 100px;
  padding: 30px;
  position: absolute;
  margin-top: 10px;

}

.toDoTitle {
  font-weight: 900px;
  text-align: center;
  background-color: black;
  border-bottom: 4px solid salmon;
  color: white;
  margin-top: 125px;
  border-radius: 50px;

}

.toDoStatus {
  font-weight: 900px;
  text-align: right;
  color: salmon;
  float: right;
  margin-top: -53px;
  margin-right: 15px;

}


.toDoCategory {
  background-color: salmon;
  padding: 20px;
  border: 4px solid black;
  border-radius: 50px;
  margin-top: -10px;
}


.learnMoreLink {
  font-weight: 900px;
  text-decoration: none;
  float: right;
  margin-right: 170px;
  margin-top: -80px;
  color: salmon;
  background-color: white;
  padding: 5px;
  border-radius: 80px;
}

.learnMoreLink:hover{
  color: black;
}

.editForm {
  height: 50px;
  color: salmon;
  float: right;
  margin-right: 100px;
  margin-top: -85px;
  background-color: black;
}

.deleteForm {
  height: 50px;
  float: right;
  color: salmon;
  margin-right: 30px;
  margin-top: -85px;
  background-color: black;
}


.allToDoLink {
  text-decoration: none;
  color: salmon;
}






footer {
  width: 1045px;
  position: absolute;
  background: black;
  color: white;
  padding: 2% 3%;
  margin-top: 200px;
}
