<!doctype html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <title>Add a To-Do</title>
  <link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>
<% include ../partials/header.ejs %>
<form method='POST' action='/todos'>
  <input class= "titleInput" name='title' type='text' placeholder='title' />
  <input class= "categoryInput" name='category' type='text' placeholder='category' />
  <input class="descriptionInput" name='description' type='text' placeholder='description'>
  <p class="toDoButton">To Do<input name='status' type='radio' value='To do'></p>
  <p class="doneButton">Done<input name='status' type='radio' value='Done'></p>
  <input class="submitButton" type='submit' value='Submit!' />
</form>

<% include ../partials/footer.ejs %>
</html>
