<!doctype html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <title>Edit a To-Do</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>

<% include ../partials/header.ejs %>


  <form class="editToDo" action="/todos/<%= data.id %>?_method=PUT" method="POST">
    <input class= "titleInput" name="title" type="text" placeholder="<%= data.title %>"/>
    <input class= "categoryInput" name="category" type="text" placeholder="<%= data.category %>" />
    <input class= "descriptionInput" name="description" type="text" placeholder="<%= data.description %>"/>
    <p class="toDoButton">To Do<input name='status' type='radio' value='To do'></p>
    <p class="doneButton">Done<input name='status' type='radio' value='Done'></p>
    <input class="submitButton" type="Submit" value="Update"/>
  </form>
<a href='/todos' class="allToDoLink">See all To-Dos</a>
<% include ../partials/footer.ejs %>
</html>
