<!doctype html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <title>Edit a To-Do</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>

<% include ../partials/header.ejs %>

<div class="todos">
  <form class="editToDo" action="/todos/<%= data.id %>?_method=PUT" method="POST">
    <input name="title" type="text" placeholder="<%= data.title %>"/>
    <input name="category" type="text" placeholder="<%= data.category %>" />
    <input name="description" type="text" placeholder="<%= data.description %>"/>
    <p>To Do</p><input name='status' type='radio' value='To do'>
    <p>Done</p><input name='status' type='radio' value='Done'>
    <input type="Submit" value="Update"/>
  </form>
<a href='/todos' class="allToDoLink">See all To-Dos</a>
</div>
<% include ../partials/footer.ejs %>
</html>
